 body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e7e7dd;
    height: 100%;
}

.menu ul {
    list-style: none; 
    padding: 15px 8%;
    text-align: left;
    margin-top: 0px;
    height: 200px;
}

.menu ul li {
   display: inline;
   margin: 10px;
   color: #56658c;
}

.menu ul li a:hover {
    color:  #41a8bc;
}

.menu ul li a {
    text-decoration: none; 
}

.title-info{
    display: flex;
    height: 120px;
    background-color: #b6d168;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 60px;
    margin: 30px;
}

.info{
    font-size: 16px;
    width: 150px;
}

/*Slider*/
.photos{
    margin-top: 20px;
    margin-left: 20px;
}

.slider {
    width: 800px;
    height: 450px;
    border-radius: 3%;
    overflow: hidden;
 }

 .slides{
    width: 500%;
    height: 500px;
    display: flex;
 }

 .slides input{
    display: none;
 }

 .slide{
    width: 20%;
    transition: 2s;
 }

 .slide img{
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
 }

 /*CSS para navegação manual*/
  
 .navigation-manual{
    position: absolute;
    width: 60%;
    margin-top: -90px;
    display: flex;
    justify-content: center;
 }
  
 .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
 }
  
 .manual-btn:not(:last-child){
    margin-right: 30px;
 }

 .manual-btn:hover{
    background: white;
 }

 #radio1:checked ~ .first{
    margin-left: 0;
 }

 #radio2:checked ~ .first{
    margin-left: -20%;
 }

 #radio3:checked ~ .first{
    margin-left: -40%;
 }

 #radio4:checked ~ .first{
    margin-left: -60%;
 }

 #radio5:checked ~ .first{
    margin-left: -80%;
 }

 #radio6:checked ~ .first{
   margin-left: -100%;
}
 
 .navigation-auto{
    position: absolute;
    display: flex;
    width: 60%;
    margin-top: 410px;
    justify-content: center;
 }

 .navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s; 
 }
  
 .navigation-auto div:not(:last-child){
    margin-right: 30px;
 }

.photos{
    display: flex;
    margin-top: 20px;
}

.paragrafo1{
    padding: 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 22px;
    margin-top: -10px;
    word-break: break-word;
}

.text-container{
   margin: auto;
}

.nav-menu{
   width: 430px;
   text-align: center;
}

.initial-button{
   align-items: center;
   margin: 10px;
   width: 180px;
	padding: 15px 0;
	background: rgb(228, 191, 122);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s;
   cursor: pointer;
   flex-direction: column;
}

.initial-button:hover {
	background: rgb(223, 148, 58);
    transform: scale(1.05);
}

.info-by-side{
   background-color: #e7e7dd;
   margin-left: 20px;
   border-radius: 10px;
   height: 450px;
   width: 463px;
   margin-bottom: 20px;
}

.info img{
   width: 150px;
   height: 150px;
}

footer{
   background: #b6d168;;
   color: rgba(0, 0, 0, 0.795);
   padding: 1em;
   text-align: center;
   line-height: 1.5;
   height: 10vh;
}

footer a{
   text-decoration: none;
   color: #56658c;
   margin-top: 20px;
}
footer a:hover{
   color:#4fadbf;
}


@media (min-width:320px) and (max-width:1000px){
.title-info{
   height: 15vh;
}
 footer{
    display: none;
 }
   .slider{
      width: 100%;
      margin: auto;
      margin-top: 5%;
      height: 550px;
   }
  .slider img{
     height: 550px;
     width: 960px;
  }
   .photos{
      flex-direction: column;
      margin:2%; 
   }

   .info-by-side{
      width: 100%;
      margin: auto;
      margin-top: 10%;
   }
   .paragrafo1{
      font-size: 35px;
   }
   .nav-menu{
      margin: auto;
   }
   .navigation-auto{
      margin-top: 470px;
      margin-left: 20%;
   }
   .navigation-manual{
      margin-top: -30px;
      margin-left: 20%;
   }

}
