header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
select {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  text-align-last: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
header img {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}
.order,
.filter {
  display: flex;
  align-items: center;
  text-align: center;
}
.cardsCharacters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  perspective: 1000px;
  position: absolute;
  height: 100%;
}
.cards {
  color: #000;
  width: 217px;
  height: 290px;
  margin: 30px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  position: relative;
}
.cardsCharacters .cards:hover {
  transform: rotateY(180deg);
}
.cardFront,
.cardBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  backface-visibility: hidden;
  position: absolute;
}
.cardBack {
  background: #b1c5ed;
  transform: rotateY(-180deg);
}
.cardFront img {
  border-radius: 10px;
  width: 217px;
  height: 290px;
}
.cardBack img {
  width: 50px;
}
