@media (min-width: 350px) and (max-width: 700px) {

    body{
        margin: 0px auto;
    }
    #root{
        align-items: center;
        text-align: center;
    }
    #container{
        width: 100%;
        padding: 50px;
    }
    h1{
        line-height: normal;
        font-size: 50px;
    }
    h2{
        line-height: normal;
        font-size: 40px;
    }
    p{
        padding: 25px 0px;
    }  

}

@media (min-width: 700px) and (max-width: 1024px){

    body{
        margin: 175px 30px auto;
    }
    #root{
        align-items: center;
        text-align: center;
    }
    #container{
        width: 100%;
        padding: 50px;
    }
    h1{
        line-height: normal;
        font-size: 50px;
    }
    h2{
        line-height: normal;
        font-size: 35px;
    }
    p{
        padding: 25px 0px;
    }  

}