@media (min-width: 300px) and (max-width: 1200px) {
header{
    width: 100%;
    height: 8%;
    z-index: 2;
    border-image:none;
    box-shadow: rgb(10, 7, 3) 1px 2px 55px;
    border-bottom: rgb(168, 134, 69) 1px solid;
}
#img-logo{
    padding: 10px 0px;
    width: 30%;
}
#div-menu{
    background-image: url(img/background.jpg);
    background-size: 350%;
    background-position: center;
    height: 1400px;
    background-repeat: no-repeat;
}
#div-go{
    margin: 300px 0px;
    height: 80vw;
    width: 85%;
    justify-content: center;
    padding: 60px;
}
#p-menu{
    font-size: 65px;
    margin: 0px 30px 0px 140px;
}
#button-menu{
    margin: 0px 110px 0px 0px;
    padding: 15px;
}
#a-menu{
    font-size: 45px;
}
#div-filters{
    display: flex;
    flex-direction: row;
    padding: 0px 50px 0px 0px;
    margin: 0px;
    height: 150px;
}
#img-search{
    margin: 0px 0px 0px 0px;
    width: 8%;
}
#input-search{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 0px;
    padding: 11px 30px;
    width: 30%;
    font-size: 24px;
}
.icons{
    margin: 10px;
    display: none;
}
#difficulties{
    font-size: 24px;
    padding: 5px;
    width: 130%;
    height: 100%;
    margin: 0px 0px 0px 20px;
}
.difficulties{
    font-size: 18px;
    height: 40px;
    width: 18.4%;
}
#all{
    margin: 0px 20px;
    z-index: 1;
    padding: 5px;
}
#easy{
    margin: 40px 20px;
    z-index: 1;
}
#medium{
    margin: 80px 20px;
    z-index: 1;
}
#hard{
    margin: 120px 20px;
    z-index: 1;
}
.order{
    margin: 0px 50px;
    padding: 2px;
    width: 90%;
    font-size: 20px;
}
.orders{
    margin: 0px 50px;
    width: 92%;
    padding: 3px;
    font-size: 20px;
}
#Z-A{
    margin: 30px 50px;
    width: 6.9%;
}
#div-img-responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #16171a;
}
.icons-responsivo{
    display: flex;
    width: 10%;
    padding: 10px;
}
.container{
    padding: 70px 0px 0px 0px;
}
.cards{
    margin: 50px 30px 150px 30px;
    width: 40%;
    height: 440px;
}
h1{
    font-size: 45px;
    margin: 0px 15px 10px 15px;
}
h2{
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}
p{
    margin: 0px 10px;
    font-size: 18px;
    padding: 30px 10px 0px; 
}
h3{
    font-size: 45px;
}
h4{
    font-size: 22px;
}
#attack{
    margin: 7px 0px 0px 0px;
    font-size: 25px;
}
#defense{
    font-size: 25px;
}
#magic{
    font-size: 25px;
}
#difficulty{
    font-size: 25px;
}

#paginated{
    font-size: 40px;
    padding: 40px 0px 0px 0px;
}
footer{
    border-image:none;
    box-shadow: rgb(10, 7, 3) 1px 2px 55px;
    border-bottom: rgb(168, 134, 69) 1px solid;
 }
}