* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 41, 63);
}

@media (min-width: 992px) {
    .nome {
        margin-left: 55vh;
        width: 85vh;
        height: 65vh;
    }
    
    .info-cards {
        width: 50vh;
        height: 60vh
    }

    .input  {
        height: 7vh;
        width: 60vh;
        margin-bottom: 10vh;
    }

    .botao{
        width: 22vh;
        height: 8vh;
        margin: 3vh;
        font-size: 1.7rem;
    }

    .front li {
        font-size: 1.6rem;
    }

    .list {
        font-size: 1.3rem;
        margin-left: 1vh;
        padding: 0.2vh;
        text-align: left;
    }

    .front img {
        margin: 2vh auto auto 5vh;
        width: 40vh;
        height: 47vh;
    }

    .back img {
        width: 30vh;
        margin: 2vh auto auto 9vh;
    }

    footer {
        width: 100%;
        height: 8vh;
        padding-top: 1.7vh;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .nome{
        width: 55vh;
        height: 80vh;
    }
    
    .giphy-portal{
        display: none;
    }
    
    .imagens{
        display: none;
        justify-content: center;
    }

    .input {
        width: 45vh;
        height: 8vh;
        margin-bottom: 10vh;
    }

    .botao{
        width: 20vh;
        height: 8vh;
        margin: 1vh;
        font-size: 1.3rem;
    }

    .info-cards {
        width: 45vh;
        height: 53vh;
    }

    .back img {
        width: 25vh;
        margin: 2vh auto auto 7vh;
    }

    .list {
        font-size: 1.2rem;
        margin-left: 1vh;
        padding: 0.2vh;
        text-align: left;
    }

    .front img {
        margin: 2vh auto auto 6vh;
        width: 30vh;
        height: 38vh;
    }

    .front li {
        font-size: 2.0rem;
    }

    footer {
        width: 100%;
        height: 8vh;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .nome {
        width: 70vh;
        height: 50vh;
    }

    .giphy-portal{
        display: none;
    }
    
    .imagens{
        display: none;
        justify-content: center;
    }

    .input  {
        height: 6vh;
        width: 40vh;
        margin-bottom: 4vh;
    }

    .botao{
        width: 15vh;
        margin: 0.5vh;
        height: 7vh;
        font-size: 1.2rem;
    }

    .info-cards {
        width: 30vh;
        height: 43vh;
    }

    .back img {
        width: 20vh;
        margin: 0.5vh auto auto 4vh;
    }
    
    .list {
        font-size: 1.0rem;
        padding: 0.2vh;
    }

    .front img {
        margin: 2vh auto 2vh 4vh;
        height: 29vh;
        width: 20vh;
    }

    .front li {
        font-size: 1.0rem;
        padding: 0.2vh;
    }

    footer {
        width: 100%;
        height: 5vh;
    }
}


.giphy-portal {
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 17vh;
    width: 60vh;
    height: 40vh;
}

.imagens{ 
    justify-content: center;
    display: flex;  
    margin: 2vh auto auto auto;
    width:60vh;
}

.search-filters {
    display: flex;
    justify-content: center;
    text-align: center;
}

.orientacao {
    display: flex;
    justify-content: center;
    text-align: center;
}

.input{
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 1.4rem;
    text-align: left;
    border-radius: 10px 10px;
}


.botao {
    background-color: #04ADBF;
    border-style: solid;
    border-color: #F2EE06;
    border-width: 2px;
    border-radius: 3px 3px 3px;
    color:#F2EE06;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
}

#showStats {
    margin: 7vh;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 4vh;
    color: white;
    font-weight: bolder;
}

#get-cards {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 4vh;
}

.info-cards {
    margin: 3vh;
    border-style: solid;
    border-radius: 9px;
    border-color: #9ddb17; 
    font-weight: bold;
    box-shadow: 10px 10px 10px #81b316cb;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

#get-cards:hover .info-cards {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background-color: #9ABF4B;
    box-shadow: 10px 10px 10px #11283b;
}

.back img {
    border-radius: 50% 50%;
}

.back li {
    margin-left: 2vh;
}

.list {
    list-style-type: none;
    font-family: 'Amatic SC', cursive;
}

.front img {
    border-radius: 9px;
}

.front li {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    list-style-type: none;
}

.list li {
    padding: 0.3vh;
}

#name {
    color: rgb(248, 248, 248);
    font-weight: bold;
}

#name-back {
    color: #11283b;
    font-weight: bold;
}

footer {
    background-color: #F27F3D;
    font-family: Arial, Helvetica, sans-serif;
    color: #11283b;
    text-align: center;
    font-weight: bolder;
}

footer p {
    padding: 0.5vh;
}