@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    background-image: url(img/background1.jpg);
    border-image: linear-gradient(to bottom, #bea87b, #7a5c29);
    border-image-slice: 1;
    border-bottom: 1px solid;
    box-shadow: rgb(10, 7, 3) 1px 2px 55px;
    z-index: 2;
}
nav ul{
    list-style: none;
}
nav ul li{
    align-items: center;
    text-align: center;
}
#img-logo{
    width: 8%;
}
#index{
    background-image: url(img/background1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#div-menu{
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 550px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#div-go{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 0px;
    height: 60%;
    width: 30%;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.671);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50% );
}
#p-menu{
    align-items: center;
    text-align: center;
    font-family: "Friz Quadrata";
    font-weight: bold;
    font-size: 40px;
    margin: 0px 0px 30px 30px;
    color: #f7f7f7fd;
    font-style: italic;
    z-index: 1;
    transition: 1s;
}
#button-menu{
    margin: 0px 30px 0px 30px;
    font-family: Nova Flat;
    font-weight: unset;
    cursor: pointer;
    padding: 5px;
    background-image: url(img/background.jpg);
    text-shadow: 0 0 3px #fafafab4;
    box-shadow: 0 0 8px 0 #000000fd;
    border: 1px solid white;
    z-index: 1;
    transition: 1s;
}
#button-menu:hover{
    text-shadow: 0 0 5px #8d8d8d4d;
    background: #1e2328 linear-gradient(to bottom, #1e2328, #433d2b);
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
    transition: 1s;
}
#a-menu{
    font-size: 20px;
    color: #d6d6d6fd;
    text-decoration: none;
}
#a-menu:hover{
    color: #c8aa6d;
}
#div-img-menu{
    position: absolute;
}
#menu-img-character{
    width: 100%;
    z-index: 0;
}
#div-filters{
    margin: 50px 0px 0px 0px;
    padding: 20px 0px 20px 30px;
    background-color: #16171a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#input-search{
    padding: 5px 15px;
    width: 18%;
    height: 25px;
    outline: none;
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
}
#input-search:hover{
    text-shadow: 0 0 5px #8d8d8d4d;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: #1e2328 linear-gradient(to bottom, #1e2328, #433d2b);
    transition: 0.1s;
}
.icons{
    cursor: pointer;
    width: 8%;
    padding: 16px;
}
#slayer{
    width: 10.2%;
}
#marksman{
    width: 8.7%;
}
#div-difficulty{
    height: 50px;
    width: 15%;
}
#difficulties{
    cursor: pointer;
    height: 40px;
    width: 100%;
    background: #1e2328;
    font-family: 'Marcellus SC', serif;
    font-size: 16px;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
}
#img-select{
    padding: 0px 0px 0px 20px;
}
#img-up{
    padding: 0px 0px 0px 20px;
}
#difficulties:hover{
    text-shadow: 0px 0px 5px #777777de;
    box-shadow: 0 0 8px 0 #c2a164a6;
    color: rgb(153, 153, 153);
    transition: 0.1s;
    background: #1e2328 linear-gradient(to bottom, #1e2328, #433d2b);
}
.difficulties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 12.6%;
    background: #1e2328;
    font-family: 'Marcellus SC', serif;
    font-size: 14px;
    color: #cdbe91;
    border: 1px solid #8d7a41;
}
#all{
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0px 0px;
    padding: 0px 10px;
    z-index: 1;
}
#easy{
    position: absolute;
    margin: 40px 0px;
    padding: 0px 10px;
    z-index: 1;
}
#medium{
    position: absolute;
    margin: 80px 0px;
    padding: 0px 10px;
    z-index: 1;
}
#hard{
    position: absolute;
    margin: 120px 0px;
    padding: 0px 10px;
    z-index: 1;
}
.difficulties:hover{
    text-shadow: 0 0 5px #ffffff80;
    background: #1e2328 linear-gradient(to bottom, #474747b7, #1b1a178c);
    transition: 0.1s;
}
#order-selector{
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    width: 8%;
}
.orders{
    cursor: pointer;
    width: 70%;
    padding: 3px;
    background: #1e2328;
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    color: #cdbe91;
    border: 1px solid #8d7a41;
}
.order{
    padding: 3px;
    cursor: pointer;
    background: #1e2328;
    width: 70%;
    font-size: 15px;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
}
.order:hover{
    text-shadow: 0px 0px 5px #777777de;
    box-shadow: 0 0 8px 0 #c2a164a6;
    color: rgb(153, 153, 153);
    transition: 0.1s;
    background: #1e2328 linear-gradient(to bottom, #1e2328, #433d2b);
}
.orders:hover{
    text-shadow: 0 0 5px #ffffff80;
    background: #1e2328 linear-gradient(to bottom, #474747b7, #1b1a178c);
    transition: 0.1s;
}
button{
    outline: none;
}
#Z-A{
    position: absolute;
    margin: 25px 0px;
    width: 4.7%;
    justify-content: center;
}
#img-select1{
    padding: 0px 5px;
}
.container{
    background-image: url(img/background1.jpg);
    background-size: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 50px 25px 100px 25px;
    width: 18%;
    height: 305px;
    cursor: pointer;
    perspective: 6000px;
}
.cards:hover{
    transition: 0.8s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.front-card, .back-card {
    position: absolute;
    width: 96%;
    height: 115%;
    -webkit-backface-visibility: hidden;;
    backface-visibility: hidden;
    border-radius: 5px;
    border: #cdbe919d 1px solid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.front-card{
    padding: 20px 0px;
    background-image: url(img/backgroundfront.png);
}
.back-card {
    background-image: url(img/backgroundback.png);
    transform: rotateY(180deg);
    padding: 20px 0px;
    margin-left: 5px;
}
.image-characters{
    width: 95%;    
}
.profile-characters{
    width: 40%;
}
h1{
    font-size: 25px;
    margin: 0px 15px 10px 15px;
    color: #ffffff;
    background-color: #24534f93;
    border-radius: 5px;
    font-family: Nova Cut;
}
h2{
    color: #d6d6d6;
    font-size: 15px;
    font-weight: bold;    
    font-style: italic;
    background-color: rgba(14, 14, 14, 0.753);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-family: Nova Flat;
}
p{
    margin: 0px 10px;
    font-size: 13px;
    text-align: justify;
    padding: 12px 5px 0px 0px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;   
    
}
h3{
    font-size: 25px;
    margin: 0px 20px 10px 20px;
    padding: 0px 10px;
    color: #ffffff;
    border-radius: 5px;
    font-family: Nova Cut;
}
h4{
    margin: 0px 0px 0px 0px;
    color: #ffffff;
    font-size: 12px;
    font-family: Merienda One;
    font-weight: 100;
}
#attack{
    text-align: center;
    margin: 45px 0px 0px 0px;
    padding: 5px;
    color: #d6d6d6;
    background-color: rgba(3, 3, 3, 0.430);
    font-family: Changa;
    font-size: 15px;
    font-style:oblique;
}
#defense{
    text-align: center;
    margin: auto;
    padding: 5px;
    color: #d6d6d6;
    background-color: rgba(3, 3, 3, 0.530);
    font-family: Changa;
    font-size: 15px;
    font-style:oblique;
}
#magic{
    text-align: center;
    margin: auto;
    padding: 5px;
    color: #d6d6d6;
    background-color: rgba(3, 3, 3, 0.630);
    font-family: Changa;
    font-size: 15px;
    font-style:oblique;
}
#difficulty{
    text-align: center;
    margin: auto;
    padding: 6px;
    color: #d6d6d6;
    background-color: rgba(3, 3, 3, 0.730);
    font-family: Changa;
    font-size: 15px;
    font-style:oblique;
}
#paginated{
    background-image: url(img/background1.jpg);
    background-size: 100%;
    background-position: bottom;
    color: rgb(185, 185, 185);
    font-size: 20px;
    padding: 5px;
}
#paginated .pagination{
    display: flex;
    justify-content: center;
    text-align: center;
}
#pagination-link{
    cursor: pointer;
    color: #6e787e;
    text-decoration: none;
    padding: 15px;
}
.pagination-link10{
    display: none;
}
#pagination-link:hover{
    color: #a18f57;   
}
#pagination-link:active{
    color: rgb(9, 63, 63);   
}
footer{
    background: #16171a;
    color: white;
    border-image: linear-gradient(to bottom, #94763a, #775f35);
    border-image-slice: 1;
    border-top: #cdbe91 1px solid;
    box-shadow: rgb(10, 7, 3) 1px 2px 55px;
 }
 #p-footer{
     text-align: center;
     font-size: 14px;
     padding: 10px 0px 0px;
     font-weight: none;
     font-family: Arial, Helvetica, sans-serif;
 }
 footer a{
     text-decoration: none;
     color: rgb(212, 212, 212);
 }
 footer a:hover{
     text-decoration: none;
     color: white;
 }
#easy-img{
    width: 80%;
}
#medium-img{
    width: 80%;
}
#hard-img{
    width: 80%;
}
.icons-responsivo{
    display: none;
}