*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.tenor-gif-embed{
    height: 500px;
}

.texto{
    color: white;
    padding: 15px;
}

.img-menu{
    width: 350px;
    height: 250px;
	display: inline-block;
}

.img-1{
    position: absolute;
    width: 250px;
    height: 155px;
    right: 300px;
    top: 800px;
}

.img-2{
    position: absolute;
    width: 250px;
    height: 155px;
    right: 300px;
    top: 1000px;
}

.img-3{
    position: absolute;
    width: 250px;
    height: 155px;
    right: 50px;
    top: 800px;
}
.img-4{
    position: absolute;
    width: 250px;
    height: 155px;
    right: 50px;
    top: 1000px;


}

#buscar{
width: 10%;
padding: 15px 0;
background: #9CFE4D;
color: black;
font-weight: bold;
font-size: 18px;
border: none;
border-radius: 12px;
transition: 1s all;
cursor: pointer;  
}

select {
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

footer{
    background-color: #9CFE4D;
}

#linha-vertical {
    height: 400px;
    border-right: 2px solid rgb(252, 250, 250);
    position: relative;
    right: 600px;
}

