* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #0AA689;
}

header {
    background-color: #F27F3D;
    width: 100%;
    height: 75px;
    text-align: center;
}
    
.links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links a {
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #0A5DA6;
    font-weight: bold;
}

.status{

    display: flex ;
}
<<<<<<< HEAD

=======
>>>>>>> b98e043b13ee4d90c35a8e35c8a2e855a51522dd
#get-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh;
}

.rodape{
    
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F27F3D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #11283b;
    text-align: center;
    font-weight: bolder;
}    
