@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.line {
  background-color: #c52018;
  height: 100vh;
  display: flex;
  width: 120px;
  border-right: 10px solid #292929;
}

.circle {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #292929;
  margin-left: 70px;
  position: absolute;
}

.white-circle {
  margin-inline: auto;
  margin-top: 10px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.border {
  margin-inline: auto;
  margin-top: 6px;
  background-color: rgb(233, 233, 233);
  width: 48px;
  height: 48px;
  border: 4px solid #292929;
  border-radius: 50%;
}

.wrap {
  margin: 0 auto;
  /*/ background-color: aqua;/*/
  margin-left: 200px;
  margin-bottom: 500px;
  height: 180px;
  width: 80%;
  position: absolute;
  overflow: hidden;
}

.pictures {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #070707;
  background: linear-gradient(
    195deg,
    #ad2c46 0%,
    #d12547 44%,
    #262122 41%,
    #262122 50%,
    #fff 46%,
    #fff 100%
  );
}



.card {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  box-shadow: -13px -13px 13px -15px var(--color1),
    13px 13px 13px -15px var(--color2), 0 0 4px 2px rgba(255, 255, 255, 0.5),
    0 35px 25px -15px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 10px solid gold;
  background: linear-gradient(
    to bottom right,
    #ffffa4,
    #fff870,
    #fff200,
    #fff870,
    #ffffa4,
    #fff870
  );
  width: 220px;
  background-color: rgb(71, 60, 45);
  height: 320px;
  display: inline-block;
  flex-shrink: 0;
}

#top-info {
  display: flex;
}

.maxHP {
  text-align: right;
}

#telaPrincipal {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
}

.info_icon {
  /*size: 25px;*/
  display: flex;
  position: absolute;
  margin-top: calc(50% - 20vh);
  cursor: pointer;
}

ul  {
  margin-inline: auto;
  list-style: none;
  padding: 20px;
}

.menu li a[href$="contatos.html"] {
  max-width:60px;
  max-height:25px;
  width: auto;
  height: auto;
  content: url(https://icons.iconarchive.com/icons/icons8/ios7/128/Very-Basic-Info-icon.png);
}

.seletores {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  margin-inline: auto;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 500px;
}

.seletor {
  border-radius: 15px;
  background-color: #de9400;
  cursor: pointer;
  border-radius: 100%;
  margin-right: 40px;
  display: flex;
  border: none;
  width: 80px;
  height: 80px;
}

#cards-sem-carosel {
  display: flex;
  margin-top: -500px;
  margin-left: 450px;
}

#ordemGeracao {
  width: 50px;
  height: 80px;
}

.container-carousel {
  width: 100%;
  height: 80vh;
  position: relative;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  object-fit: cover;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  top: calc(8% - 25px);
  left: -10px;
}

#next {
  left: unset;
  right: 30px;
}

#ordemGeracao {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.name-geracao {
  font-size: 15px;
  display: flex;
  background-color: transparent;
  margin-top: 102px;
  width: 200px;
  height: 20px;
  margin-left: -80px;
  padding-left: 40px;
  color: transparent;
}

