*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}
     
body{
    font-size: 12px;
    background-color: #38527B;
}

.keyframesContainer {
    animation: banner 40s infinite;
    animation-direction: alternate;
    width: 100%;
    height: 960px;
}
    
@keyframes banner{
    0%, 20%{
    background-image: url(./images/Neighbor_Totoro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    25%, 40%{
    background-image: url(./images/Kikis_Delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    45%, 60%{
    background-image: url(./images/Castle_InTheSky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    65%, 80%{
    background-image: url(./images/Memorias-de-Ontem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    85%, 100%{
    background-image: url(./images/chihiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }   
}



.menu{
    width:100%;
    height: 60px;
    background-color: #38527B;
    font-family:'Vollkorn', serif;
    font-weight: bold;

    position: fixed;
    font-size: 1.5em;
    overflow: visible;
    z-index: 4;
    /*display: flex; */
}

.menu ul{
    list-style:none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    height: 60px;
    display: block;
    text-decoration:none;
    text-align: center;
    background-color: #38527B;
    color: #fff;
}

.menu ul ul{
    position:absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #008891;
    color: #555;
}

.menu ul ul li{
    float: none;
    border-bottom:solid 1px #008891;
}

.menu ul ul li a {
    background-color: #069;
}

.btn-search{
    background-color: transparent;
    padding: 0%;
    /* margin: 10%;
    font-size: 20px; */
}

label[for="bt_menu"]{
    padding: 5px;
    background-color:#069;
    color: #fff;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 60px;
    z-index: 5;
    float: left;
    /* overflow: visible; */
    position: fixed;

}

#bt_menu{
    display: none;
} 

 /* label[for="bt_menu"]{
    display: none;
} */


@media (max-width: 1024px){
    label [for="bt_menu"]{
        display:block;
        z-index: 5;
    }

    #bt_menu:checked ~ .menu {
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        overflow: visible;
        position:fixed;
        z-index: 4;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    .keyframesContainer{
        animation: none;
    }
} 

.modal{
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content{
    background-color: rgba(245, 239, 239, 0.39);
    margin: 20% auto; 
    padding: 40px;
    border: 1px solid #ffff;
    width: 70%;
    resize: none;
    border:transparent;
    display: block;
}

.modal-textarea{
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    /* padding: 25px; */
    border: white;
    width: 75%;
    /*flex-wrap: nowrap;*/
}

.modal-textarea::placeholder{
    color: #38527B;
} 
.modal-search{
    margin: 2%;
}
  
.closeModal{
    color: #CDCBA6;
    float: right;
    font-size: 3em;
    font-weight: bold;
}
  
.closeModal:hover, .closeModal:focus{
    color: #008891;
    text-decoration: none;
    cursor: pointer;
}

#media{
    z-index: 100;
    background-color: white;
    border: 2px;
}

.cardsContainer{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 1%; 
    font-weight: normal;
}

.filmCard{
    width: 400px;
    height: 550px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.541);
    perspective: 1000px;
    border-radius: 10px;
    /*background-color: white;*/
}

.characterCard{
    width: 175px;
    height: 215px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.301);
    perspective: 1000px;
    border-radius: 10px;
}

.flipper{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    border-radius: 10px;
}

.filmCard:hover .flipper{
    transform: rotateY(180deg);
}

.characterCard:hover .flipper{
    transform: rotateY(180deg);
}

.frontCard, .backCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.backCard{
    transform: rotateY(180deg);
    padding: 10%;
    background-color: #213b64;
    border-radius: 10px;
    color: white
}

.film-title{
    font-weight: bolder;
    font-size: 16px;
    text-align:right;
    background-color:#008891;
    border-radius: 5px;
    padding: 2%;
    margin:0% 3%;
}

p{
    -webkit-margin-before: 1px;
    -webkit-margin-after: 2px;
}

.film-infos{
    text-align: justify;
    font-size: 15px;
    margin: 1%;
}

.filmPoster{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    text-align: justify;
    background-image: cover;

}

.characterPoster{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    text-align: justify;
    background-image: cover; 
}


.searchResult {
    width: 100%;
    color: white;
    font-size: 3em;
    text-align: center;
    display: block;
    align-content: flex-end;
    padding-top: 10%;
}

/* 
.menu{
    list-style: none;
    background-color: #38527B;
    width: 100%;
    height: 60px;
    position: fixed;
    font-weight: bold;
    z-index: 1;
    font-size: 18px;
    overflow: visible;
    display: flex;
}

.menu li{
    position: relative;
    float: left;
    padding: 0% 3%;
    margin-left: auto;
}
        
.menu li a{
    color: #E7E7DE; 
    text-decoration: none; 
    padding: 8px 15px; 
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
}
        
.menu li a:hover{
    background: #008891;
    text-shadow: 0px 0px 2px whitesmoke;
}
        
.menu li ul{
    position: absolute;
    top: 35px;
    background: #38527B;
    display: none;
    z-index: 9900;
    border: transparent
}
        
.menu li:hover ul, .menu li.over ul{
    display: block;
    width: 100%;
}
        
.menu li ul li{
    border: transparent;
    display: block;
    width: 130px;
}  */
