 body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e7e7dd;
}
/*Menu navegação*/
.characters-img{
  margin-top: -250px;
  text-align: center;
}

.menu ul {
    /*background-color: #a0a2b0;#c1cfda;*/
   background-color: #e7e7dd;
    list-style: none; /*tira os marcadores*/
    padding: 15px 8%;
    text-align: left;
    height: 230px;
    color: #56658c;
    margin-top: 0px;
}

.menu ul li {
   display: inline;
   margin-right: 20px;
}
.menu ul li a:hover {
    color: #41a8bc;
}
.menu ul li a {
    text-decoration: none; /*Tirar o sublinhado da referência*/
}
.character-img{
  text-align: center;
}
section{
    margin: auto;
    text-align: center;
}
.open-menu{
  position:relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.poster-cards, .poster-people{
    margin-top: 30px;
    margin-left: 35px;
}
.poster-card{
    width: 220px;
    height: 300px;
    object-fit: cover;
}

/*flipcards*/
.info1{
  margin-top: 50px;
}

.info1, .info2{
text-align: left;
margin-left: 15%;
color: #e7e7dd;
}

.flip-card {
    background-color: #e7e7dd;
    width: 280px;
    height: 380px;
    perspective: 1000px;
    margin-top: 30px;
    margin-left: 35px;
    float: left;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:#56658c;
    color:#e7e7dd;
    border-radius: 5%;
  }

  .flip-card-back {
    background-color: #56658c;
    color:#e7e7dd;
    transform: rotateY(180deg);
    border-radius: 5%;
  }

  .select-bar{
    width: 90%;
  }
/*Arrumando botões e seletores*/
.button {
  background-color: #56658c;
  color: #e7e7dd;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  height: 38px;
  cursor: pointer;
  border-radius: 5%;
}

select {
  height: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #e7e7dd;
  background-color: #56658c;
  height: 38px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5%;
}
.title-of-film, .info1, .info2{
  color: #e7e7dd;
}
