@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: Pixels;
  src: url(./assets/LLPIXEL3.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", "Pixel", sans-serif;
}

option:nth-child(odd) {
  background: #c52018;
}
option:nth-child(even) {
  background: #fff200;
}

.line {
  background-color: #c52018;
  position: relative;
  height: 100%;
  display: flex;
  width: 250px;
  border-right: 20px solid #292929;
  z-index: 1;
}

#telaPrincipal {
  width: 100px;
  height: 10000px;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
}
.cards_text {
  display: flex;
  margin-inline: auto;
  margin-left: 200px;
  height: 665px;
  position: absolute;
 
}

.circle {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #292929;
  margin-left: 170px;
  margin-bottom: 8700px;
  position: absolute;
  z-index: 2;
}

.white-circle {
  margin-inline: auto;
  margin-top: 10px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.border {
  margin-inline: auto;
  margin-top: 6px;
  background-color: whitesmoke;
  width: 48px;
  height: 48px;
  border: 4px solid #292929;
  border-radius: 50%;
}

.wrap {
  margin: 0 auto;
  /*/ background-color: aqua;/*/
  margin-left: 440px;
  margin-top: 15px;
  height: 180px;
  width: 1450px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.pictures {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #070707;
  background: linear-gradient(
    195deg,
    #ad2c46 0%,
    #d12547 44%,
    #262122 41%,
    #262122 50%,
    #fff 46%,
    #fff 100%
  );
}

.textbox {
  display: flex;
  width: 1500px;
  height: 50px;
  position: absolute;
  z-index: 2;
  margin-top: -80px;
  margin-left: -100px;
}

.textbox p {
  font-size: 30px;
  font-family: Pixels;
}

.card {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  box-shadow: -13px -13px 13px -15px var(--color1),
    13px 13px 13px -15px var(--color2), 0 0 4px 2px rgba(255, 255, 255, 0.5),
    0 35px 25px -15px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 10px solid gold;
  background: linear-gradient(
    to bottom right,
    #ffffa4,
    #fff870,
    #fff200,
    #fff870,
    #ffffa4,
    #fff870
  );
  width: 290px;
  background-color: rgb(71, 60, 45);
  height: 390px;
  display: inline-block;
  margin-left: 20px;
  flex-shrink: 0;
}

.text, .typeStats{
  color: white;
  font-family: "Pixels";
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
}

.typeStats{
  margin-top: 400px;
}

.gridContainerUp {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 32px 2px 140px 15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.title {
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  font-weight: bolder;
}

.number {
  grid-row: 1;
  grid-column: 2;
  padding: 10px;
  font-size: 12px;
  text-align: right;
  font-weight: bold;
}

.sideInfo {
  grid-row: 1;
  grid-column: 3;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  color: #c52018;
  font-style: italic;
  font-weight: bolder;
}

.upLine {
  grid-row: 2;
  grid-column: 1 / span 3;
  border-top: 1px solid black;
}

.backgroundImg {
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 260px;
  height: 140px;
}

.downInfo {
  display: grid;
  grid-row: 4;
  grid-column: 1 / span 3;
  background-color: goldenrod;
  border: 1px solid rgba(0, 0, 0, 0.8);
  align-self: center;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  font-weight: bold;
}

.weight,
.height {
  grid-row: 4;
  display: inline;
  font-size: 10px;
  text-align: center;
  align-self: center;
}

.gridContainerDown {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85px 1px 95px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.downLine {
  grid-row: 2;
  grid-column: 1 / span 3;
  border-top: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}

.attacks,
.type,
.weak,
.resistant {
  font-size: 9.5px;
  text-align: center;
  font-style: oblique;
}

.attackList,
.typeList,
.weakList,
.resistList {
  font-size: 11.5px;
  text-align: center;
  font-weight: bolder;
  padding: 7px;
}

.attackList {
  grid-row: 1;
  grid-column: 1;
}

.typeList {
  grid-row: 1;
  grid-column: 2;
}

.weakList {
  grid-row: 3;
  grid-column: 1;
}

.resistList {
  grid-row: 3;
  grid-column: 2;
}

ul {
  margin-inline: auto;
  list-style: none;
  padding: 20px;
}

#perfil {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  border-radius: 50px;
}

.seletores {
  width: 160px;
  height: 160px;
  display: flex;
  position: absolute;
  margin-inline: auto;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 15px;
}

.seletor {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: flex;
  border: 2px solid white;
  width: 160px;
  height: 80px;
}

#cards-sem-carosel {
  
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 280px 280px 280px 280px;
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  margin-top: -9700px;
  margin-left: 500px;
  width: 500px;
  height: 500px;
  margin-right: 0;

}

#ordemGeracao {
  width: 50px;
  height: 80px;
}

.container-carousel {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.slider {
  padding-left: 40px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 2;
}

.carousel-img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  object-fit: cover;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  top: calc(8% - 25px);
  left: -10px;
}

#next {
  left: unset;
  right: 30px;
}

#ordemGeracao {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.name-geracao {
  font-size: 15px;
  display: flex;
  background-color: transparent;
  margin-top: 102px;
  width: 200px;
  height: 20px;
  margin-left: -80px;
  padding-left: 40px;
  color: transparent;
}

.info_icon {
  display: flex;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-top: 850px;
  margin-left: -80px;
}

@media (min-width: 768px) and (max-width: 1024px) {


  .container-carousel {
    margin-left: 10px;
    
  }

  #ordemGeracao {
    margin-bottom: 500px;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .wrap {
    margin-left: 400px;
    margin-bottom: 9440px;
  
  }

 
  .circle {
    display: flex;
    opacity: 0;
  }
  .cards_text {
    display: flex;
    margin-inline: auto;
    margin-left: 100px;
    height: 665px;
    position: absolute;
   
  }
}

@media (min-width: 440px) and (max-width: 768px) {
  #cards-sem-carosel {
    grid-template-columns: 210px 210px;
    margin-top: -9850px;
    margin-left: 100px;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
  }

  .wrap {
    width: 500px;
    height: 90px;
    margin-top: -180px;
    margin-left: 110px;
  }

  .circle {
    display: none;
  }

  .card {
    width: 230px;
    height: 320px;
  }

  .gridContainerUp {
    grid-template-rows: 20px 1px 110px 10px;
  }

  .gridContainerDown {
    grid-template-rows: 75px 1px 82px;
  }

  .title {
    padding: 3px;
    font-size: 12px;
  }

  .number {
    padding: 3px;
    font-size: 10px;
  }

  .sideInfo {
    padding: 0px;
    font-size: 8px;
  }

  .backgroundImg {
    width: 210px;
    height: 120px;
  }

  .attackList,
  .typeList,
  .weakList,
  .resistList {
    font-size: 9.5px;
    padding: 5px;
  }

  .attacks,
  .type,
  .weak,
  .resistant {
    font-size: 8px;
  }

  .line {
    width: 100px;
    border-right: 10px solid black;
  }

  #perfil {
    margin-top: 30px;
    width: 70px;
    height: 70px;
  }

  .seletores {
    width: 100px;
    margin-top: 400px;
  }

  .seletor {
    width: 70px;
    padding: 2px;
    font-size: 14px;
  }

  .info_icon {
    margin-left: -75px;
  }

  a {
    margin-top: -18px;
  }

  #ordemGeracao {
    width: 100px;
    height: 20px;
    font-size: 8px;
  }

  .container-carousel {
    height: 80px;
  }

  #previous,
  #next {
    height: 20px;
  }

  .slider {
    height: 60px;
  }

  .pictures {
    width: 50px;
    height: 50px;
  }

  .name-geracao {
    padding-left: 20px;
  }
}

@media (min-width: 360px) and (max-width: 439px) {
  #cards-sem-carosel {
    grid-template-columns: 210px;
    grid-template-rows: 320px 320px 320px;
    margin-top: -9850px;
    margin-left: 100px;
    grid-row-gap: 20px;
  }

  .circle {
    display: none;
  }

  .card {
    width: 230px;
    height: 320px;
  }

  .gridContainerUp {
    grid-template-rows: 20px 1px 110px 10px;
  }

  .gridContainerDown {
    grid-template-rows: 75px 1px 82px;
  }

  .title {
    padding: 3px;
    font-size: 12px;
  }

  .number {
    padding: 3px;
    font-size: 10px;
  }

  .sideInfo {
    padding: 0px;
    font-size: 8px;
  }

  .backgroundImg {
    width: 210px;
    height: 120px;
  }

  .attackList,
  .typeList,
  .weakList,
  .resistList {
    font-size: 9.5px;
    padding: 5px;
  }

  .attacks,
  .type,
  .weak,
  .resistant {
    font-size: 8px;
  }

  .line {
    width: 100px;
    border-right: 10px solid black;
  }

  #perfil {
    margin-top: 30px;
    width: 70px;
    height: 70px;
  }

  .seletores {
    width: 100px;
    margin-top: 400px;
  }

  .seletor {
    width: 70px;
    padding: 2px;
    font-size: 14px;
  }

  .info_icon {
    margin-left: -75px;
  }

  a {
    margin-top: -18px;
  }

  .wrap {
    height: 90px;
    width: 245px;
    margin-top: -180px;
    margin-left: 110px;
  }

  #ordemGeracao {
    width: 100px;
    height: 20px;
    font-size: 8px;
  }

  .container-carousel {
    height: 80px;
  }

  #previous,
  #next {
    height: 20px;
  }

  .slider {
    height: 60px;
  }

  .pictures {
    width: 50px;
    height: 50px;
  }

  .name-geracao {
    padding-left: 20px;
  }
}
